/* BREAKPOINTS */

$tablet: 768px;
$desktop: 1024px;

/* FONT SIZES */

$font-regular: 16;
$font-extra-small: rem(12);
$font-large: rem(50);

/* FONT FAMILY */

$font-main: 'MuseoModerno', cursive;
/* COLORS */

$color-wood: rgb(165, 77, 42);
$color-dark: #09040c;
$color-background: rgb(180, 218, 243);
$color-secondary-background: #e3e4e2;
$color-tertiatry-background: #1b130e;
$color-box-shadow: #acacac;
$color-box-shadow-dark: #7e776c;
$color-border: #866e66;
$color-toggle: orange;
