/* BREAKPOINTS */

$tablet: 768px;
$desktop: 1024px;

/* FONT SIZES */

$font-regular: 16;
$font-extra-small: rem(12);
$font-medium: rem(18);

/* FONT FAMILY */

$font-main: 'Open Sans', sans-serif;

/* COLORS */

$color-wood: rgb(165, 77, 42);
$color-dark: #09040c;
$color-background: rgb(180, 218, 243);
$color-secondary-background: #e3e4e2;
$color-tertiatry-background: #1b130e;
$color-box-shadow: #acacac;
$color-box-shadow-dark: #7e776c;
$color-border: #866e66;
