html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-background;
  font-family: $font-main;
  color: $color-wood;
}

* {
  margin: 0;
  padding: 0;
}

// para que funcione con el cursor

.piano-board {
  background-color: $color-wood;
  width: 300px;
  height: 175px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  // @mixin tablet {
  //   width: 500px;
  // }
  .piano-tone {
    position: relative;
    background: #fdfcf7;
    width: 35px;
    height: 130px;
    border: 1px solid $color-border;
    box-shadow: inset 0px 3px 0px 6px #f4f4ec;
    text-align: center;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: flex-end;
  }
  .piano-tone:hover {
    cursor: pointer;
    animation-name: downTone;
    animation-duration: 0.5s;
  }
  .piano-tone::after {
    content: ' ';
    width: 35px;
    height: 20px;
    background: $color-secondary-background;
    box-shadow: inset 1px 3px 0px 0px $color-box-shadow;
    display: block;
    position: absolute;
    top: 100%;
    border: 1px solid $color-border;
    margin-left: -1px;
  }

  .piano-tone:hover::after {
    animation-name: downToneAfter;
    animation-duration: 0.5s;
  }
  .piano-semitone {
    &C {
      transform: translate(-93px);
    }
    &D {
      transform: translate(-55px);
    }
    &F {
      transform: translate(18px);
    }
    &G {
      transform: translate(55px);
    }
    &A {
      transform: translate(92px);
    }
  }
}

.piano-semitone {
  content: '';
  position: absolute;
  width: 12px;
  height: 86px;
  background: #1b130e;
  box-shadow: inset 1px 5px 8px 1px #7e776c;
  z-index: 1;
  border: 1px solid $color-dark;
  &::after {
    content: '';
    width: 12px;
    height: 5px;
    background: $color-tertiatry-background;
    box-shadow: inset 1px 5px 8px 1px $color-box-shadow-dark;
    display: block;
    position: absolute;
    top: 100%;
    border: 1px solid $color-dark;
    margin-left: -1px;
  }
  &:hover {
    height: 90px;
  }
}

.piano-semitone:hover::after {
  height: 2px;
}

// para que funcione con el keydown

.piano-board .piano-tone-down {
  animation-name: downTone;
  animation-duration: 0.3s;
}

@keyframes downTone {
  from {
    height: 130px;
    box-shadow: inset 0px 3px 0px 6px #f4f4ec;
  }
  to {
    height: 140px;
    // box-shadow: inset 1px -3px 1px 0px #4c4d48a;
  }
}
@keyframes downToneAfter {
  from {
    height: 20px;
    box-shadow: inset 0px 3px 0px 6px #f4f4ec;
  }
  to {
    height: 10px;
    // box-shadow: inset 1px -3px 1px 0px #4c4d48;
  }
}

.helpChoices {
  margin: 40px;
}

//switch styles
.btnBox {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.switch {
  cursor: pointer;
  background-color: $color-box-shadow-dark;
  border-radius: 20px;
  width: 70px;
  border: none;
  display: flex;
  justify-content: space-around;
  outline: none;
  position: absolute; //
  &::after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    background: $color-secondary-background;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: 0.3s ease all;
    box-shadow: 0px 0px 2px 2px $color-tertiatry-background;
  }
  &.active {
    background: orange;
    &::after {
      right: 0;
      left: unset;
    }
  }
  span {
    width: 30px;
    height: 35px;
    line-height: 35px;
    font-size: 20px;
    display: block;
  }
}

.dark {
  background-color: $color-tertiatry-background;
}
